

.links line {
	stroke: #999;
	stroke-opacity: 0.6;
}

.nodes circle {
	stroke: #fff;
	stroke-width: 1.5px;
}

 input{
    width:50%;
  }

 .navbar-brand,
 .navbar-header{
	 line-height: 150px;
	 height: 80px;
	 padding-top: 0;
	 z-index: 0;
 }
 .navbar-fixed-top{
	 background-color: #404040;
	 background-image: none;
	 background-repeat: no-repeat;
	 z-index: 0;
 }
 .navbar-fixed-top { position: absolute!important; }


 input[type=number]{
	 width: 80px;
 }
 input[type=submit]{

 width: 80px;
 }
 h1{
     margin: 0cm 0cm 0cm 1.4cm ;	
	 color: #404040;
 }
 h3{
 	margin: 0cm 0cm 0cm 1.4cm;
	 color: #404040 ;
 }
  h2{
  	 margin: .5cm 0cm .5cm 1.4cm;
	 color: #404040 ;
 }
 svg{
	 /*position: absolute;*/
	 left: 300px;
	 top: 0px;
	 z-index: 10;
 }
p{	
	margin: 0cm 0cm 0cm 1cm ;
	z-index: 0;
}
#input{
	margin: 0cm 0cm 0cm 1cm;
}

